/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 3px #666;
}

/* pieces are div within game table cells: draw as colored circles */


.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}


/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1{
  background-color: red;
}

.p2{
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 3px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#start-over-button{
  margin-left: 50px;
  padding: 10px;
  border-radius: 7px;
  background-color: yellow;
  border: dotted green 12px;
  font-size: 30px;
  color: purple;
  transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
}

#start-over-button:hover {
  background-color: #E6608B;
  color: black;
  border-radius: 90px;
}
